# Databases
export DB_TYPE="postgresql"
export DEVELOPMENT_DATABASE_URI="postgresql://username:password@localhost/rem_development"
export TESTING_DATABASE_URI="sqlite:///tests/testing.db"

# Secret Keys
export APP_SECRET_KEY="random string"
export CRYPTOGRAPHIC_KEY="32 url-safe base64-encoded bytes(can be created using cryptography library)"
export JWT_KEY="random string"

# Tokens
export BAD_TOKEN="token generated with wrong key"
export EXPIRED_TOKEN="token created to expire immediately e.g 1 second validity"
export TEST_TOKEN="valid long lasting token"
