export DB_TYPE="postgresql"
export TESTING_DATABASE_URI="postgresql://username:password@localhost/rem_testing"
export DEVELOPMENT_DATABASE_URI="postgresql://username:password@localhost/rem_development"
export APP_SECRET_KEY="random string"
export JWT_KEY="random string"
export TEST_TOKEN="token generated with python manage.py create_test_token"
export CRYPTOGRAPHIC_KEY="32 url-safe base64-encoded bytes(can be created using cryptography library)"
